@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans JP", "Ubuntu", sans-serif;
}

h1 {
  @apply font-extrabold text-2xl pb-[3px] underline my-3 mt-5;
}

h2 {
  @apply font-extrabold text-xl my-3 mt-5;
}

h3 {
  @apply font-extrabold text-lg my-3 mt-5;
}

h4 {
  @apply font-bold text-lg my-3 mt-5;
}

pre {
  @apply bg-slate-800 text-white rounded p-3 my-3 text-sm;
}

blockquote {
  @apply bg-slate-100 italic p-3 rounded text-gray-500 my-3;
}

p {
  line-height: 2;

  color: #262626;
}

li {
  line-height: 1.8;
  font-size: 15px;
}

li::before {
  content: "✔︎";
  margin-left: 10px;
  margin-right: 4px;
  color: #686868;
}
